// breakpoints

$bp-small: '768px';
$bp-medium: '1024px';
$bp-large: '1440px';
$bp-xlarge: '2560px';

// media queries

@media only screen and (min-width: $bp-small) {

    html {
        font-size: 16px;
    }
    
    .user {

        &__profile {
            flex-direction: row;
            align-items: flex-start;

            button {
                margin-top: .5em;
            }
        }

        &__info {
            text-align: left;
            margin-left: 2rem;
        }
    }

}

@media only screen and (min-width: $bp-medium) {

    html {
        font-size: 18px;
    }

}

@media only screen and (min-width: $bp-large) {

    html {
        font-size: 20px;
    }

}

@media only screen and (min-width: $bp-xlarge) {

    html {
        font-size: 25px;
    }

}