.user {

    &__wrapper {
        margin-inline: auto;
        width: min(35rem, 100%);
    }

    &__profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;

        button {
            display: block;
            margin-top: .5rem;
        }

        span {
            font-weight: bold;
        }
    }

    &__info {
        text-align: center;
    }

    &__followers {
        padding-top: .5rem;
    }

    &__cover {
        overflow: hidden;
        height: 15rem;
        margin-top: .5rem;

        img {
            aspect-ratio: 1.5;
            object-position: center;
        }
    }

    &__img {
        width: 8rem;
        margin-top: -4rem;
        margin-bottom: 1rem;
        position: relative;

        &::before, &::after {
            content: '';
            display: block;
            position: absolute;
            inset: -.5rem;
            border: 1px solid transparent;
            border-radius: 50%;
        }

        &::before {
            border-color: white;
        }

        &::after {
            border-left-color: black;
        }
    }
}