@forward 'globals';

.wrapper {
    border-bottom: 1px solid black;
    padding-block: 2rem;

    input, button {
        background-color: #E6E6E6;
    }

    button {
        background-color: black;
        color: white;
        cursor: pointer;
        margin-bottom: 2rem;
    }
}

.block {
    position: relative;
    width: 5rem;
    height: 5rem;
    margin-top: -2.5rem;
    margin-inline: auto;
    margin-bottom: 1rem;
    border: 1px solid black;

    &::after, & {
        border-radius: 50%;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        background-color: white;
    }
}

.circle {
    
    &, &::after {
        border-radius: 50%;
    }
}

.toggle-theme, .toggle-theme img {
    background-color: black;
    filter: invert(1) hue-rotate(180deg);
}

.spin::after {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.pause::after {
    animation-play-state: paused;
}

@keyframes spin {
    from {
        rotate: 0deg;
    } to {
        rotate: 360deg;
    }
}